@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);   
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

h2{
    font-family: 'OpenSans-ExtraBold';
    color: #ea002d;
}

#divFocus{
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1800;
    display: none;
    text-align: center;
    padding-top: 20%;
    text-shadow: -1px 2px 1px #000;
    -webkit-text-shadow: -1px 2px 1px #000;
}

.back-blur{
    filter: blur(7px);
    -moz-filter: blur(7px);
    -webkit-filter: blur(7px);
}

.noFocusApp{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: block !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1500 !important;
}

.noFocusApp h2{
    text-align: center;
    color: #fff;
    margin-top: 105px;
    text-shadow: 0 1px 21px #000;
}

.quitar{
    cursor: pointer;
    position: absolute;
    left: 30%;
    font-size: 18px;
    display: block;
    background: rgba(179, 0, 0, 0.8);
    border: solid 1px rgba(139, 12, 12, 0.69);
    color: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.54);
    padding: 4px 11px;
}

.destino{
    margin: 0 -9px 0;
    padding: 6px 10px;
}

.panel-title{
    font-family: 'OpenSans-Bold'
}

button,a{
    outline: 0 !important;
}

.datepicker.dropdown-menu{
    width: 250px;
    height: 270px
}
.datepicker.dropdown-menu button{
    outline: 0;
    border: 0;
}
.datepicker.dropdown-menu tbody{
    height: 180px;
}
.datepicker.dropdown-menu tbody button{
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,.datepicker.dropdown-menu.datepicker-mode-2 tbody button{
    height: 65px;
}
.timepicker.dropdown-menu{
    padding: 0 4px;
}
.timepicker.dropdown-menu button{
    outline: 0;
    border: 0;
}
.timepicker.dropdown-menu tbody button{
    padding: 6px;
}

.login-block {
    width: 350px;
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 6px solid #ff5722;
    border-bottom: 3px solid #ff5722;
    margin: 32px auto;
}

.spread {
    max-width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.una-linea {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.una-linea:hover{
    overflow: auto;
    text-overflow: initial;
}

.login-block h3 {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 15px;
    color: #ff3d00;
    font-weight: bold;
}

.back-login{
    background-color: rgba(255, 155, 0, 0.25);
    width: 100%;
    height: 100% !important;
    position: fixed;
}

.contenedor{
    margin: 0 15px;
}

.fieldset{
    border: 1px solid #dddddd;
    margin: 0 2px;
    border-radius: 5px;
    padding: 10px 15px;
}

.legend{
    width: auto;
    border-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    background: #757575;
    color: #ffffff;
    border-radius: 15px 0;
    padding: 0 15px;
}

.legend-red{
    color: #e20016;
    font-family: "OpenSans-Bold";
    font-size: 18px;
}

.item-menu{
    width: 100%;
    display: inline-block;
    border: solid 1px #e2e2e2;
    padding: 15px 12px;
    margin-top: 8px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 1px 5px #eaeaea;
    -moz-box-shadow: 0px 1px 5px #eaeaea;
    -webkit-box-shadow: 0px 1px 5px #eaeaea;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.item-menu img{
	width: 75px;
	height: 75px;
}
.item-menu span{
	width: 100%;
	display: inline-block;
	font-size: 1.1em;
}

.item-menu:hover{
	text-decoration: none;
	background-color: #f5fbff;
	border-color: #6fcaff;
	box-shadow: 0px 1px 8px #bce6ff;
	-moz-box-shadow: 0px 1px 8px #bce6ff;
	-webkit-box-shadow: 0px 1px 8px #bce6ff;
}


.btn-orden{
    margin-bottom: 5px;
}

.btn-orden button{
    border: solid 1px #cedbde;
    background-color: #f3f8f9;
    padding: 4px 11px;
    color: #455153;
    border-radius: 8px;
}

.btn-orden .bt-info.active, .btn-orden .bt-info:hover{
    border-color: #099ac6;
    background: #12a4d0;
    color: #fff;
}

.btn-orden .bt-success.active, .btn-orden .bt-success:hover{
    border-color: #3abe3e;
    background: #4ccc50;
    color: #fff;
}

.btn-orden .bt-primary.active, .btn-orden .bt-primary:hover{
    border-color: #3543b2;
    background: #4c5bcc;
    color: #fff;
}

.btn-orden .bt-danger.active, .btn-orden .bt-danger:hover{
    border-color: #c63e3e;
    background: #cc4c4c;
    color: #fff;
}


.menu-btn{
    background-color: #fff;
    min-width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 1px #a9e1fb;
    box-shadow: 0px 2px 0px #a9e1fb;
    -moz-box-shadow: 0px 2px 0px #a9e1fb;
    -webkit-box-shadow: 0px 2px 0px #a9e1fb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.menu-btn img{
    max-height: 64px;
    max-width: 64px;
}

.menu-btn .menu{
    display: block;
    width: 100%;
    max-width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 3px;
}

.menu-btn .codigo{
    position: absolute;
    top: 3px;
    right: 18px;
    background: rgb(226, 226, 226);
    color: #2e2e2e;
    padding: 0px 8px;
    border: dashed 1px #c1c1c1;
    opacity: 0.7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.menu-btn .precio{
    position: absolute;
    width: auto;
    top: -5px;
    right: 8px;
    z-index: 9;
    background: #2bad48;
    border: dotted 2px #23903b;
    color: #fff;
    padding: 1px 7px;
    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.input-focus{
    border: solid 1px #2a5bca;
    color: #0a379a;
    font-weight: bold;
}


.tabs-title{
    margin-top: 15px;
    margin-bottom: 15px;
}


/*LOADER*/
.cargando{
    position: fixed;
    background: rgba(50, 50, 50, 0.75);
    z-index: 2200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    display: hidden;
}

.loading-bro {
    margin: 55px auto;
    width: 250px;
    text-align: center;
}
.loading-bro > h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 300;
    color: #ffffff;
    background: #FF9800;
    padding: 9px;
    margin-bottom: 10px;
}

#load {
  width: 150px;
  animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #51BBA7;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}

.badge-orden{
    background-color: #4d4d4d;
    border: solid 1px #3a3a3a;
    color: #ebebeb;
    padding: 1px 9px 1px 9px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
    -moz-box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
    -webkit-box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
}

.badge-ticket{
    background-color: #098293;
    border: solid 1px #007688;
    color: #ebebeb;
    padding: 1px 9px 1px 9px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
    -moz-box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
    -webkit-box-shadow: -2px 2px 2px rgba(99, 99, 99, 0.36);
}


.img-portada{
    width: 110px;
    height: 110px;
}


input.ng-dirty.ng-invalid {
    color: #ff0000;
    border: 1px solid #e84646;
    box-shadow: 0px 0px 5px #ff8585;
}


.primary {
    background: #1d4a9e;
}

.info {
    background: #03a9f4;
}

.success {
    background: #4caf50;
}

.warning {
    background: #f34a15;
}

.danger {
    background: #d0091c;
}

.ul-list{
    position: absolute;
    z-index: 999;
    width: 92%;
}


div .etiqueta{
    padding: 0 12px;
    color: #2b2b2b;
}

div .valor{
    padding: 2px 14px 3px;
    font-weight: bold;
    color: #0833af;
    border-bottom: solid 1px #cfd5ea;
    margin-bottom: 4px;
    display: inline-block;
}

legend.legend2{
    color: #ffffff;
    background: #58b976;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-size: 16px;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.34);
    -moz-text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.34);
    -webkit-text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.34);
    border-radius: 25px 0px 25px 0px;
    -moz-border-radius: 25px 0px 25px 0px;
    -webkit-border-radius: 25px 0px 25px 0px;
}

.label-border{
    padding: 0;
    border: 0px;
    width: 21px;
    height: 21px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.22);
}

.lst_servicio{
    display: block;
    position: relative;
    z-index: 31;
}

.lst_servicio:before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 30px;
    left: -15px;
    top: -21px;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 7px #dddddd;
}

.lst_servicio ul{
    position: absolute;
    padding: 0;
    width: 125px;
    color: #000;
    top: -53px;
    left: -140px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.24);
}

.label-border:focus .lst_servicio{
    display: block;
}

.acciones{
    z-index: 1000;
    position: fixed;
    width: 100%;
    text-align: center;
    top: 0;
    background: rgb(255, 241, 225);
    border-bottom: solid 4px rgb(215, 114, 19);
    padding: 4px 17px 8px 20px;
    border-radius: 0px 0px 13px 13px;
    -moz-border-radius: 0px 0px 13px 13px;
    -webkit-border-radius: 0px 0px 13px 13px;
    box-shadow: 0px 3px 13px 2px rgba(0, 0, 0, 0.43), 0px -13px 22px 7px rgba(97, 69, 43, 0.18) inset;
    -moz-box-shadow: 0px 3px 13px 2px rgba(0, 0, 0, 0.43), 0px -13px 22px 7px rgba(97, 69, 43, 0.18) inset;
    -webkit-box-shadow: 0px 3px 13px 2px rgba(0, 0, 0, 0.43), 0px -13px 22px 7px rgba(97, 69, 43, 0.18) inset;
}

.acciones .btn-accion{
    display: inline-block;
}

.acciones .btn-accion .tipo-servicio{
    display: inline-block;
    width: 100%;
    margin-top: 7px;
}

.acciones .btn-accion .tipo-servicio .label{
    margin: 0px 2px 0px 2px;
    font-size: 14px;
}

.acciones .btn-accion .tipo-servicio .label .badge{
    color: #2a2a2a;
    background: rgba(255, 255, 255, 0.89);
}

.acciones img{
    position: absolute;
    display: inline-block;
    border: solid 4px rgb(220, 134, 53);
    border-top-color: #d2751d;
    background: #fff;
    padding: 5px;
    height: 105px;
    top: 1px;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
}

.acciones .ticket{
position: absolute;
    display: inline-block;
    border: solid 4px rgb(220, 134, 53);
    border-top-color: #d2751d;
    background: #fff;
    color: #63380f;
    padding: 28px 5px 5px 5px;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
    top: 1px;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 2px 19px rgba(0, 0, 0, 0.55);
    text-shadow: -1px 2px 0px rgba(51, 37, 24, 0.22);
    -moz-text-shadow: -1px 2px 0px rgba(51, 37, 24, 0.22);
    -webkit-text-shadow: -1px 2px 0px rgba(51, 37, 24, 0.22);
}


.border-success{
    border-left: 3px solid #4caf50;
}

.border-warning{
    border-left: 3px solid #ff9800;
}

.border-danger{
    border-left: 3px solid #da0017;
}

.codigoRapido{
    border: solid 1px #d7d7d7;
    display: inline-block;
    padding: 2px 17px;
    background-color: #fff;
    color: #5b5b5b;
    font-size: 19px;
    font-weight: bold;
    float: right;
    border-radius: 19px;
}

.codigoRapido.ok{
    border-color: #3674ec;
    color: #1b60e6;
    background: #f2f6ff;
}

.contenedor-tickets{
    margin-top: 13px;
    border-top: 1px solid rgba(136, 136, 136, 0.49);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px -2px 3px #e4e5e8;
    -moz-box-shadow: 0px -2px 3px #e4e5e8;
    -webkit-box-shadow: 0px -2px 3px #e4e5e8;
}

.info-orden-ticket{
    padding-top: 7px;
    border: solid 1px #e1e1e1;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    box-shadow: -2px 4px 9px #dbdbdb;
    -moz-box-shadow: -2px 4px 9px #dbdbdb;
    -webkit-box-shadow: -2px 4px 9px #dbdbdb;
    right: 7px;
}

.list-group-item.active .tkt-active{
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 30px;
    right: -20px;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
    border-left: solid 10px #be4119;
}

.ticket-hover-triangulo{
    position: absolute;
    margin-left: 31px;
    display: block;
    font-size: 25px;
    color: #abb0ca;
}

.noBorde{
    border-radius: 3px;
}


.menu-contenedor{
}

.menu-contenedor:hover > .menu-horizontal {
    display: block;
}

.menu-horizontal {
    border: 1px solid #ffcc80;
    padding: 4px 15px;
    display: none;
    background-color: #f7f7f7;
    border-radius: 15px 0 15px 15px;
    box-shadow: 1px 2px 15px #bbbbbb;
    position: absolute;
    margin-top: -25px;
    right: 5%;
}

.menu-horizontal > .btn {
    border-radius: 50px;
    background-color: #ffb74d;
    color: #fffbfa;
    padding: 6px 8px;
}

.menu-horizontal > .btn:hover {
    background-color: #ff5722;
    color: #ffffff;
}




.tooltip{
    position:absolute;
    z-index:1070;
    display:block;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:400;
    line-height:1.42857143;
    text-align:left;
    text-align:start;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    letter-spacing:normal;
    word-break:normal;
    word-spacing:normal;
    word-wrap:normal;
    white-space:normal;
    filter:alpha(opacity=0);
    opacity:0;line-break:auto
}
.tooltip.in{
    filter:alpha(opacity=90);
    opacity:.9
}
.tooltip.top{
    padding:5px 0;
    margin-top:-3px
}

.tooltip.right{
    padding:0 5px;
    margin-left:3px
}
.tooltip.bottom{
    padding:5px 0;
    margin-top:3px
}
.tooltip.left{
    padding:0 5px;
    margin-left:-3px
}
.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    background-color:#000;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.top-left .tooltip-arrow{
    right:5px;
    bottom:0;
    margin-bottom:-5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.top-right .tooltip-arrow{
    bottom:0;
    left:5px;
    margin-bottom:-5px;
    border-width:5px 5px 0;
    border-top-color:#000
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#000
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#000
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}
.tooltip.bottom-left .tooltip-arrow{
    top:0;
    right:5px;
    margin-top:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}
.tooltip.bottom-right .tooltip-arrow{
    top:0;
    left:5px;
    margin-top:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#000
}

.tdTotal{
    display: inline-block;
    padding: 2px 8px;
    color: #303030;
    border: solid 1px rgba(0, 0, 0, 0.28);
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.26);
}

tr.tr_alert td{
    color: #fff;
    animation: tr_alerta 1s linear infinite;
}

@keyframes tr_alerta {
  0% {
    background-color: #d91616;
  }
  50% {
    background-color: #810202;
  }
  100% {
    background-color: #d91616;
  }
}

.panel-menu{
    border: solid 1px #ccc;
    margin-bottom: 3px;
    width: 100%;
    float: left;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

div.active-key{
    padding-top: 6px;
    padding-bottom: 6px;
}

div.inactive-key{
    border: solid 1px transparent;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
}

.panel-menu .encabezado{
    background-color: #f6f6f6;
    float: left;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.panel-menu.inactivo{
    opacity: 0.75;
}

.encabezado.activo{
    position: fixed;
}

.panel-menu .encabezado .btn.btn2{
    background-color: rgb(252, 252, 252);
    border: solid 1px rgba(212, 212, 212, 0.57);
    color: #353535;
    box-shadow: 0px 1px 3px rgba(204, 204, 204, 0.34);
    -moz-box-shadow: 0px 1px 3px rgba(204, 204, 204, 0.34);
    -webkit-box-shadow: 0px 1px 3px rgba(204, 204, 204, 0.34);
}

.panel-menu .encabezado .btn .index{
    position: absolute;
    z-index: 5;
    color: #5a5a5a;
    padding: 1px 2px 1px 3px;
    left: 2px;
    border-bottom: 1px solid #9f9f9f;
    border-top: 1px solid #d6d6d6;
    border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    -webkit-border-radius: 7px 0px 0px 7px;
    text-shadow: -1px 1px 1px #c7ceda;
    -moz-text-shadow: -1px 1px 1px #c7ceda;
    -webkit-text-shadow: -1px 1px 1px #c7ceda;
}

.panel-menu .encabezado .btn.danger{
    background-color: #ffeded;
    border-color: #f5b7b7;
    color: #b01c1c;
}

.panel-menu .encabezado .btn.danger .badge{
    background-color: #be3939;
    color: #ffffff;
}

.panel-menu .body{
    max-height: 500px;
    overflow-y: auto;
    border-top: solid 1px #ccc;
    background-color: #fff;
    float: left;
    width: 100%;
    padding-bottom: 7px;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
}

.titulo-nombre{
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 25px;
}

.numEfectivo{
    font-size: 24px;
}

.estado-menu{
    display: inline-block;
    padding: 0px 4px 0px 7px;
    border: solid 1px #ccc;
    font-size: 15px;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
    background-color: #fff;
    color: #828282;
    height: 21px;
}

.estado-menu .badge{
    background-color: #dfdfdf;
    padding: 3px 7px;
    color: #3d3d3d;
    margin-top: -4px;
    font-size: 13px;
    margin-right: -5px;
    display: inline-block;
}

.estado-menu.default{
    border-color: #757575;
    color: #7d7d7d;
}

.estado-menu.default .badge{
    background-color: #757575;
    color: #fff;
}

.estado-menu.info{
    border-color: #12a4d0;
    color: #14a1c7;
}

.estado-menu.info .badge{
    background-color: #12a4d0;
    color: #fff;
}

.estado-menu.primary{
    border-color: #0b5cdb;
    color: #1b5abf;
}

.estado-menu.primary .badge{
    background-color: #0b5cdb;
    color: #fff;
}

.estado-menu.success{
    border-color: #22be5c;
    color: #10b34d;
}

.estado-menu.success .badge{
    background-color: #22be5c;
    color: #fff;
}

.estado-menu.warning{
    border-color: #fb8c00;
    color: #e27231;
}

.estado-menu.warning .badge{
    background-color: #fb8c00;
    color: #fff;
}

.div-fixed{
    top: 0;
    width: 100%;
    height: 109px;
    background: rgb(252, 252, 252);
    z-index: 100;
    padding-top: 9px;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0px 2px 7px #ccc;
    -moz-box-shadow: 0px 2px 7px #ccc;
    -webkit-box-shadow: 0px 2px 7px #ccc;
}

.contenido-admin-orden{
    margin-top: 13px;
}

.contenido-admin-orden>.row{
    margin-left: 0;
    margin-right: 0;
}

.contenido-lst-orden{
    overflow-y: auto;
    position: relative;
}

.tr_focus:after{
    content: '';
    position: absolute;
    display: block;
    right: 16px;
    margin-top: 4px;
    border-right: solid 13px rgba(0, 0, 0, 0.27);
    border-top: solid 15px transparent;
    border-bottom: solid 15px transparent;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.total{
    background: #f1f1f1;
    font-size: 22px;
    font-weight: bold;
    color: #104290;
    text-align: right;
    padding: 0px 22px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.group-factura {
    margin-bottom: 10px;
}

.monto {
    text-align: right !important;
    font-size: 20px !important;
}

.label-ticket{
    background: #f5f5f5;
    color: #6e7d81;
    padding: 3px 3px 1px 3px;
    border: solid 1px #d7e1e5;
    border-radius: 0px 8px;
    -moz-border-radius: 0px 8px;
    -webkit-border-radius: 0px 8px;
}

.lstResultado{
    border: solid 1px #f79677;
    position: absolute;
    width: 93.8%;
    z-index: 5;
    background: #fff;
    box-shadow: 0px 1px 9px 1px #d8baaf;
    -moz-box-shadow: 0px 1px 9px 1px #d8baaf;
    -webkit-box-shadow: 0px 1px 9px 1px #d8baaf;
}

.lstResultado ul{
    padding: 0;
    list-style: none;
    margin:0;
}

.lstResultado ul li{
    padding: 4px 9px;
    border-bottom: 1px solid rgba(215, 80, 37, 0.2);
    cursor: pointer;
}

.lstResultado ul li.active{
    background-color: #e76238;
    color: #fff6f3;
}

.remove-tab{
    position: absolute;
    border: solid 1px #e4acac;
    background: #fbeded;
    color: #a13333;
    top: 9px;
    right: 4px;
    font-size: 13px;
    height: 24px;
    padding: 3px 4px;
    z-index: 50;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.reasignar{
    width: 250px;
    position: absolute;
    z-index: 500;
    background: #fff;
    border: solid 2px #f96400;
    bottom: 46px;
    left: -42px;
    padding: 6px 19px 12px 19px;
    box-shadow: 0 2px 16px #656565;
    border-radius: 9px;
}

.reasignar .cerrar{
    position: absolute;
    border: solid 1px #353535;
    background: #565656;
    border-radius: 19px;
    color: #fff;
    top: -4px;
    right: -9px;
    z-index: 2;
    width: 26px;
    height: 26px;
    padding: 4px;
}

.reasignar:after{
    bottom: -13px;
    left: 76px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: solid 13px transparent;
    border-left: solid 13px transparent;
    border-top: solid 12px #f96400;
}

.reasignar:before{
    bottom: -14px;
    left: 74px;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: solid 13px transparent;
    border-left: solid 13px transparent;
    border-top: solid 12px rgba(0, 0, 0, 0.16);
}

.network-bad{
    text-align: center;
    background-color: #ccc;
    color: #fff;
    height: 30px;
    padding-top: 5px;
    font-size: 15px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1900;
    animation: pulse-back 1.5s infinite;
    -webkit-animation: pulse-back 1.5s infinite;
    opacity: 0.7;
    display: none;
}

@keyframes pulse-back {
  0% {
    background-color: #860000;
  }
  50% {
    background-color: #ee0000;
  }
  100% {
    background-color: #860000;
  }
}

@-webkit-keyframes pulse-back {
  0% {
    background-color: #860000;
  }
  50% {
    background-color: #ee0000;
  }
  100% {
    background-color: #860000;
  }
}




